<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ReplaceCommon" value="True" />
    <add key="ReplaceIF" value="True" />
    <add key="ReplaceCHOOSE" value="True" />
    <add key="RestoreCommon" value="True" />
    <add key="RestoreIF" value="True" />
    <add key="RestoreCHOOSE" value="True" />
    <add key="ReplaceEscape" value="True" />
    <add key="RetainAnnotations" value="True" />
    <add key="GenerateIndent" value="True" />
    <add key="SimplifyChoose" value="True" />
    <add key="ContainsEnd" value="True" />
    <add key="NestedIf" value="False" />
  </appSettings>
</configuration>